---
import BaseLayout from "@layouts/Base.astro"

import Test from "@components/Test.svelte"


---

<BaseLayout title="Astro", description="Learning Astro">
	<main>
	<Test client:load></Test>
</main>
</BaseLayout>

<style>
  main {
    grid-column: 1/13;
  }
</style>


